#banner-image {
    margin-bottom:-30%;
}
.ui.modal > .image.content {
    display: block !important;
}
.ui.modal > .image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.hard-code-centered{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ui.modal > .content > .image {
    width: 100% !important;
}

.corebot {
    /* Each corebot in the spritesheet has a dimension of 800x600  */
    width: 800px;
    height: 600px;
    background: url('../images/corebot/corebot_spritesheet.png');
    animation: animate_corebot 8.0s steps(8) infinite;
}

@keyframes animate_corebot {
    /* corebot_spreadsheet total dimenstions = 6400 × 600 */
    100% { background-position: -6400px; }
}
