#banner-image {
    margin-bottom:-30%;
}
.ui.modal > .image.content {
  display: block !important;
}
.ui.modal > .image {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.hard-code-centered{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.ui.modal > .content > .image {
  width: 100% !important;
}
/* iPad Landscape */
@media only screen and (height: 768px) {
    .computer.only,
    .large.monitor.only,
    .widescreen.monitor.only {
        display: none !important;
    }
    .device.only{
        display: center  !important;
    }
}
